.btn-none {
	background-color: white;
}

.btn-none:hover {
	background-color: #343a40;
	color: #f7f7f7;
}

.AnalysisSettingsGroup {
	color: #343a40;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #f7f7f7;
	display: block;
}

.c2_log {
	margin-top: 1em;
}

.btn-analysis{
	color: #343a40;
}

.analyze-form{
	font-size: 0.8em;
}

.form-group{

}

.page-item.active .page-link {
	/*border: 11px solid red;*/
}

.pvlabel{
	font-weight: bold;
	text-align: right;
}

.PV-form {
	font-size: 0.8em;
}

.PV-form input{
	font-size: 0.8em;
}

.from-label{
	font-weight: bold;
}

.editable{
	font-weight: bold;
}

.RelationDeleteIcon {
	margin-left: 0.6em;
}

.pv-header {
	font-size: 1.5em;
	font-weight: bold;
}

.editable{
	cursor: pointer;
	font-weight: bold;
}



.imageInfo dl {width: 300px}
.imageInfo dt {
	  float:left;
	  clear: left;
	  width: 70px;
	  font-weight: bold;
	}
.imageInfo dd {
	    clear: left;
	    float: left;
	    margin-left: 70px;
}
.imageInfo dt + dd {
	    float: left;
	    clear: none;
	    margin-left: 0;
}


.hiddenFrame {
	display: none;
}

.logframe {
	border: none;
	height: 1024px;
	width: 100%;
}

ul {list-style-type: square;}
ul a {
	
}

.modal ul a {
	font-weight: bold;
	color: #212529;
}

.container-fluid a {
	color: #212529;
}

.popover a {
	color: #212529;
}

.popover {
	max-width: 1000em;
	border: 1px solid red;
	background-color: green;
}

.select-control {
	width : 20em;
}

.react-bootstrap-table .col-md-12{
	width : 100%;
}

.analysis-setting {
	cursor: pointer;
}

.analysis-result {
	color: red;
}

.AnalysisOverview .row{
	/*border-bottom: 1px solid #343a40;*/
}

.AnalysisContainer .row {
	padding-bottom: 1em;

}

.AnalysisDetailTitle {
	display: inline-block;
	font-size: 1.6em;
	width: 8em;
	padding-left: 1em;
	float: left;
	height: 100%;
	font-variant: small-caps;
}

.AnalysisDetail{
	
}

.AnalysisDetail .container{
	display: inline-block;	
}

.container a {
	color: black;
	font-weight: bold;
}

.progress {
	display: inline;
}

.progress-bar {
	display: inline;
}

.more-button {
	margin-top: 8px;
	border: none;
	background-color: white;
}


.more-button:hover {
	background-color: #ccc;
}

.search {
}
