body{
	font-size : 0.8rem;
	/*color: red;*/
}

.container-fluid{
    margin: auto;
}.react-bootstrap-table, .form-control .search {
	
}

.btn-group {
	width : 100%;
}

.btn-group button {
	font-size: 1rem;
	padding-left: 0px;
}

.search{
	position: absolute;
	right: 0px;
	margin: 2px;
	font-size: 0.8rem;
}

.textFilter{
	display: inline;
	visibility: hidden;
}

.column-filter{
	color: #c2c2c2;
	margin-left: 0.4em;
	margin-bottom: 0.4em;
}

.cell {
	border: 1px solid blue;
}

.ja-popover {
	color: red;
	position: absolute;
	left: 100px;
    top: 150px;
}

.image-name{
	cursor: pointer;
}

.image-popover {
	max-width: 100%;
	z-index : 999;
	
}


.table th, .table td {
	padding: 0.7rem;
}

.caretupdown {
	margin-left: 1em;
}

.caretupdown svg{
	margin-right: 0.6em;
}


td.react-bootstrap-table-editing-cell input {
	border: none;
}
td.react-bootstrap-table-editing-cell input:focus {
	border: none;
	padding: 1px;
}
td.react-bootstrap-table-editing-cell input:active{
	border: none;
}

.btn-none {
	background-color: white;
}

.btn-none:hover {
	background-color: #343a40;
	color: #f7f7f7;
}


a {
 color: navy;
}


.btn-analysis{
	color: #343a40;
}

.analyze-form{
	
}

.form-group{

}

.page-item.active .page-link {
}

.from-label{
	font-weight: bold;
}

.editable{
	font-weight: bold;
	cursor: pointer;
}

.RelationDeleteIcon {
	margin-left: 0.6em;
}

.editable{
	cursor: pointer;
	font-weight: bold;
}


.container-fluid{
	max-width: 100%;
}


.search {
	/* stupid adaptation to bootstrap col-sm-12 , todo: fix*/
	margin-right: 15px;
}


.active {
	color: black;
}

.popover-bodyX {
    background-color: white;

}

.popover-headerX {
	margin: 0px;
	border: 1px solid blue;
	color: green;
}

.table-bordered {
	border-top: none;
	font-size: 0.78rem;
}

.table-bordered th {
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: none;
}


.even-row {
	background-color: #f6f7f7;
}

.t-row {
	border: 1px solid white;
	border-left: 1px solid #white;

}

.t-row td {
	border: 1px solid #f2f5f7;
}

.t-row td {
	border: 1px solid #f2f5f7;
}

.t-row th {
	border: none;
}

.table th, .table td {
	padding: 0.3rem;
}

.t-row th:hover {
	background-color: white;
}

.t-row:hover{
	background-color: #e6e7e7;
	border-bottom : 1px solid #ccc;
}



.ja-select .fa-w-14{
	font-size: 1rem;
}



#pageDropDown {
	font-size: 0.8rem
}

.ja-headernav {
	font-size: 1rem;
}

.log_level{
	display: inline;
	color:red;
}

